<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>exfuse</string>
  <key>CFBundleExecutable</key>
  <string>ExfuseFSKitExtension</string>
  <key>CFBundleIdentifier</key>
  <string>org.exfuse.fskit.extension</string>
  <key>CFBundleInfoDictionaryVersion</key>
  <string>6.0</string>
  <key>CFBundleName</key>
  <string>ExfuseFSKitExtension</string>
  <key>CFBundlePackageType</key>
  <string>XPC!</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleSupportedPlatforms</key>
  <array>
    <string>MacOSX</string>
  </array>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>Configuration</key>
  <dict>
    <key>backendPort</key>
    <string>35368</string>
    <key>volumeUUID</key>
    <string>A9367419-7557-4CA7-B671-95B28F7DA15B</string>
  </dict>
  <key>EXAppExtensionAttributes</key>
  <dict>
    <key>EXExtensionPointIdentifier</key>
    <string>com.apple.fskit.fsmodule</string>
    <key>FSActivateOptionSyntax</key>
    <dict>
      <key>shortOptions</key>
      <string>g:m:o:u:</string>
    </dict>
    <key>FSCheckOptionSyntax</key>
    <dict>
      <key>shortOptions</key>
      <string>nqy</string>
    </dict>
    <key>FSFileSystemType</key>
    <string>exfuse</string>
    <key>FSFormatOptionSyntax</key>
    <dict>
      <key>shortOptions</key>
      <string>v</string>
    </dict>
    <key>FSMediaTypes</key>
    <dict/>
    <key>FSPersonalities</key>
    <dict>
      <key>ExfusePersonality</key>
      <dict>
        <key>FSName</key>
        <string>exfuse</string>
        <key>FSfileObjectsAreCaseSensitive</key>
        <true/>
      </dict>
    </dict>
    <key>FSRequiresSecurityScopedPathURLResources</key>
    <false/>
    <key>FSShortName</key>
    <string>exfuse</string>
    <key>FSSupportsBlockResources</key>
    <true/>
    <key>FSSupportsGenericURLResources</key>
    <false/>
    <key>FSSupportsPathURLs</key>
    <false/>
    <key>FSSupportsServerURLs</key>
    <false/>
  </dict>
  <key>LSMinimumSystemVersion</key>
  <string>15.4</string>
</dict>
</plist>
